# Any copyright is dedicated to the Public Domain.
# http://creativecommons.org/publicdomain/zero/1.0/

# set indentation style for rendering Markdown files on GitHub
[*.md]
indent_style = tab
indent_size = 4
