.idea/
.bsp/
project/project/
project/target/
target/
tmp/

carbon
silver
silicon
viperserver
logger.log
*.log
*.go.*
*.gobra.*

playground
.metals
.vscode
.vscode/launch.json
.metals/metals.lock.db
.metals/readonly/scala/package.scala
.metals/metals.h2.db
.metals/metals.log
.vscode/settings.json
project/.bloop
project/.bloop/*
fvf_finder.sh
.gitignore
csv
warmup
congregated_date.ods
.~lock.congregated_date.ods#
asserionerrors
eval_nErrors
n_Errors_2
replicateFile.sh
numars
