.idea/
.bsp/
project/project/
project/target/
target/
tmp/
sync/

carbon
silver
silicon
viperserver
logger.log

*.go.*
*.gobra.*
/src/main/java/viper/gobra/frontend/GobraLexer.tokens
/src/main/java/viper/gobra/frontend/GobraParser.interp
/src/main/java/viper/gobra/frontend/GobraParser.tokens
/gen/
/.gobra/

.bloop/
.metals/
.vscode/
project/

# antlr4
*.interp
*.tokens

# genparser script
genparser.config
