.idea/
.bsp/
project/project/
project/target/
target/
tmp/
sync/

logger.log
.DS_Store

*.go.*
*.gobra.*
*.tokens
*.interp
/gen/
/.gobra/

.bloop/
.metals/
.vscode/
project/

# antlr4
*.interp
*.tokens

# genparser script
genparser.config
