<!-- This Source Code Form is subject to the terms of the Mozilla Public -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<!-- -->
<!-- Copyright (c) 2011-2020 ETH Zurich. -->

<configuration>
  <conversionRule
          conversionWord="highlight"
          converterClass="viper.gobra.reporting.LogbackOutputHighlighter"
  />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%highlight(%msg%n)</pattern>
      <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <!-- path to your log file, where you want to store logs -->
    <file>logger.log</file>
    <append>false</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT" />
    <!--<appender-ref ref="FILE" />-->
  </root>
</configuration>
